.main-content {
    height: 100vh;
    overflow-y: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 30px;
}

.button {
    background-color: coral;
    color: bisque;
    padding: 8px;
    border-radius: 8px;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
    color: white;
}

.enter-message {
    width: 50px;
    text-align: center;
}

.enter-message:hover {
    cursor: pointer;
    color: white;
}